body {
    background-color: darkslategrey;
    padding: 20px;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    display: flex;
    justify-content:space-between;
    text-align: center;  
    align-items: center;

}
.right-header{
    width: 40%;
    margin: 0%;
    font-size: 18px;
    margin-right: 20px;
}
.right-header-list {
    list-style-type: none;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    gap: 2%;
    margin: 0px;
    padding: 0%;
}
.right-header-list-item {
    padding: 10px;
}
.left-header {
    width: 60%;
    padding: 10px;
    font-size: 26px;
    font-weight: bold;
    justify-content: left;
    display: flex;
    margin-left: 20px;
}
.head {
    background-color: rgba(0, 142, 83, 0.283);
    height: 300px;
    margin: 0px;
    padding: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.main-div {
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 30px;
    width: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
button {
    border-color: rgb(6, 67, 50);
    border-radius: 30px;
    background-color: rgba(3, 68, 41, 0.697);
    color: white;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    border-width: 3px;
    border-style: solid;
}
h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.main {
    height: auto;
}
.facts {
    display: flex;
    justify-content: space-between;
}
.fact {
    width: 33%;
    border-image-width: 30%;
    padding: 10px;
}
.main p {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    text-align: center;
}
img {
    width: 100%;
    border-radius: 10px;

}
h2, h3 {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    text-align: center;
}